<div class="container" ng-controller="SearchDBCtrl as ctrl">

    <div class="page-header">
        <h1>Groceries Management System
            <small>SearchDB</small>
        </h1>
    </div>

    <!-- Search input -->
    <form name="queryForm" novalidate class="form-inline">
        <div class="form-group">
            <input id="searchString"
                   class="form-control"
                   size="50"
                   type="text"
                   name="searchString"
                   ng-model="ctrl.searchString"
                   placeholder="Enter department name or number">
        </div>

        <!-- Search buttons -->
        <div class="form-group">
            <button type="submit" class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.search()">
                Search Department
            </button>
        </div>
    </form>
    <hr>

    <!-- Department table display -->
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Product Name (dept no.)</th>
            <th>Brand (dept name)</th>
            <th>UPC12 Barcode</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="dept in ctrl.departments">
            <td><a ng-click="ctrl.goEdit(dept.dept_no)">{{dept.dept_no }}</a></td>
            <td>{{ dept.dept_name }}</td>
            <td>UPC12</td>
            <td><button class="btn btn-default"><a ng-click="ctrl.goEdit(dept.dept_no)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></button></td>
        </tr>
        </tbody>
    </table>
</div>